* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  margin-bottom: 10px;
}
header {
  background-image: url(./img/download.jpg);
  height: 696px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hdr-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hdr-container ul {
  list-style-type: none;
  display: flex;
  width: 300px;
  margin-left: 120px;
}
.hdr-container li {
  color: white;
  flex: 1;
}
.hdr-container li:hover {
  cursor: pointer;
  background-color: rgb(175, 35, 35);
  width: fit-content;
  height: fit-content;
  padding: 0;
  padding-left: 20px;
  transition: all 1s;
}
.hdr-container input {
  background-color: #ed7c6a;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-right: 195px;
}
header p {
  color: white;
  background-color: #5aa28b;
  width: 358px;
  height: 358px;
  border-radius: 20px;
  line-height: 2;
  margin: 21px 189px;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 22px 31px 50px 20px;
}

main {
  width: 100%;
  height: 411px;
  background-color: #f7f7f7;
}

main h1 {
  width: fit-content;
  padding: 20px 0;
  border-bottom: 6px solid #e98317;
  margin: auto;
  position: relative;
  top: 30px;
  color: #074d4c;
}
.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main p {
  line-height: 1.5;
  font-family: cursive;
}
main h2 {
  color: #439da5;
  font-family: cursive;
  padding-bottom: 10px;
}
.first-sec image {
  transform: rotate(353deg);
}
.first-sec {
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgb(96 163 162 / 66%),
      rgb(72 146 142 / 17%)
    ),
    url(./img/doctor.jpg);

  position: relative;
}
.cards-container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cards-container h2 {
  text-align: center;
  margin: auto;
}
.card {
  background-color: white;
  width: 220px;
  height: 450px;
  border-radius: 20px;
}
.card img {
  width: 220px;
  height: 200px;
  padding: 20px 10px;
}
.card h3 {
  padding-bottom: 25px;
  padding-left: 15px;
  color: #66a0aa;
}

.card p {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.6;
  position: relative;
  bottom: 15px;
  text-align: center;
}
section h2 {
  color: white;
  font-family: cursive;
  font-weight: lighter;
  position: absolute;
  top: 10%;
  right: 22%;
  transform: translate(-50%, -50%);
}
.second-sec {
  width: 100%;
  height: 326px;
  transform: skewY(356deg);
  position: relative;
  bottom: 198px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
}

.second-sec img {
  width: 150px;
  height: fit-content;
}
.first {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  transform: skewY(4deg);
}

footer {
  background-image: url(./img/lan.png);
  width: 100%;
  height: 400px;
  position: relative;
  bottom: 256px;
  border-radius: 146px 146px 0 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body {
  height: 13px;
}
.foot-frst-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.7;
  justify-content: flex-start;
  height: 250px;
}

.foot-scnd-cont ul {
  list-style-type: none;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.foot-third-cont ul {
  list-style-type: none;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.foot-four-cont ul {
  list-style-type: none;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer h3 {
  text-align: center;
  color: #ed7c6a;
}

.foot-frst-cont h3 {
  color: white;
}
.last-foot-cont {
  position: absolute;
  top: 73%;
  left: 10%;
}
.icon-social img {
  width: 40px;
  height: 40px;
}
.icon-social {
  position: absolute;
  top: 82%;
  left: 10%;
}

.icon-social a {
  text-decoration: none;
  padding: 10px;
}
.icon-social img:hover {
  transform: rotate(360deg);
  transition: all 1s linear;
}

q:hover {
  background-color: red;
  width: 200px;
  height: 200px;
  border: 10px dashed transparent;
  transition: all 1s linear;
  padding: 30px;
  margin: 30px;
  border-radius: 40%;
}

q {
  font-size: 20px;
  font-family: cursive;
}
